
.busqueda-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    border: 1px solid #e76f51;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%; 
    max-width: 600px; 
    margin: 0 auto; 
    margin-top: 100px;
    
  }
  
  .busqueda-fechas {
    display: flex;
    gap: 10px;
  }
  
  .busqueda-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .busqueda-boton {
    padding: 10px 15px;
    background-color: #e76f51;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #e76f51;
    transition: background 0.3s;
  }
  
  .busqueda-boton:hover {
    background-color: white;
    color:#e76f51 ;
  }
  
  .busqueda-sugerencias {
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .busqueda-sugerencias li {
    padding: 8px;
    cursor: pointer;
  }
  
  .busqueda-sugerencias li:hover {
    background: #eee;
  }
  
  .react-datepicker {
    background-color: white !important; 
    border: 1px solid #e76f51; 
  }

  .react-datepicker__header {
    background-color: #f4a58a !important; 
    color: white !important; 
  }
 
/* Día de hoy */
.react-datepicker__day--today {
    background-color: white !important;
    color: black !important;
    font-weight: bold;
  }
  
  /* Día seleccionado (si no es parte de un rango) */
  .react-datepicker__day--selected {
    background-color: black !important;
    color: white !important;
    border-radius: 50% !important;
  }
  
  /* Día de inicio y fin del rango */
  .react-datepicker__day--range-start,
  .react-datepicker__day--range-end {
    background-color: black !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 50% !important;
    border: none !important;
  }
  
  /* Asegurar que el inicio y fin se mantengan visibles en ambos calendarios */
  .react-datepicker__day--range-start.react-datepicker__day--selected,
  .react-datepicker__day--range-end.react-datepicker__day--selected {
    background-color: black !important;
    color: white !important;
  }
  
  /* Días dentro del rango (mantenerlos blancos) */
  .react-datepicker__day--in-range {
    background-color: white !important;
    color: black !important;
  }
  
  /* Hover (cuando pasas el cursor por un día) */
  .react-datepicker__day:hover {
    background-color: white !important;
    color: black !important;
    border: 2px solid black !important;
    border-radius: 50% !important;
  }
  