.card__image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card__favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
  color: red; /* color base */
  background: rgba(14, 12, 14, 0.5);
  padding: 8px;
  border-radius: 50%;
  z-index: 5;
  transition: all 0.3s ease;
}

.card__favorite-icon.active {
  color: orange;
}

.card__favorite-icon:hover {
  transform: scale(1.2);
}