.imagen_principal {
  display: flex;
  grid-column: 1/3;
  grid-row: 1/3;
  contain: content;
  width: 100%;
  height: 100%;
  padding: 5px;

  img {
    width: 100%;
    height: 100%;
    object-fit: initial;
  }
}

.imagen_secundaria {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.imagen_modal {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
  object-fit: fill;
  justify-content: center;

}

.foto {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  justify-content: center;
}

.foto:hover {
  filter: brightness(80%);
}

.grid_layout_galeria {
  display: grid;
  position: relative;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

.boton_vermas_galeria.boton_vermas_galeria {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fffdf4 !important;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
  white-space: nowrap;
}

.boton_vermas_galeria:hover {
  background: #fffdf4 !important;
  background-color: #d65a42 !important;
  border: none !important;
}

.modal_galeria_ver_más {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  overflow-y: auto;
}


.contenido_galeria_ver_más {
  background: white;
  width: 90%;
  max-width: px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}



.grid_layout_modal {
  display: grid;
  position: relative;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  gap: 8px;
  margin: 2rem;
}

.boton_cerrar_galeria_modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
}




.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.fadeOut {
  animation: fadeOut 1s ease-in-out;
}

/*Escritorio*/
@media (min-width: 1024.99px) {
  .boton_vermas_galeria {
    font-size: clamp(16px, 2vw, 36px);
    border-radius: 10px;
  }

  .contenedor_galeria {
    margin: 10px;
  }

  .grid_layout_galeria {
    max-height: 500px;
  }


}

/*Fin Escritorio*/

/*Tablet*/
@media (min-width: 601px) and (max-width: 1024px) {
  .boton_vermas_galeria {
    font-size: clamp(16px, 2.5vw, 24px);
    border-radius: 10px;
  }

  .imagen_principal {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
  }


  .grid_layout_galeria {
    display: grid;
    grid-template-columns: 300px (2, 1fr);
    grid-template-rows: 300px (4, 1fr);
    gap: 8px;
  }

  .grid_layout_modal {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
  }

}

/*fin tablet*/

/*movil*/
@media (max-width: 600px) {
  .boton_vermas_galeria {
    font-size: clamp(3px, 2.5vw, 16px);
    border-radius: 10px;
  }

  .imagen_principal {
    grid-column: 1/3;
    grid-row: 1;
  }


  .grid_layout_galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
  }

  .grid_layout_modal {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }


}

/*fin movil*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}