.bg-body-tertiary {
  background-color: #fffdf4 !important; 
}

.btn-outline-success {
  border-color: #e76f51 !important; 
  color: #e76f51 !important; 
}

.btn-outline-success:hover {
  border-color: #e76f51 !important; 
  background-color: #e76f51 !important; 
  color: #fff !important; 
}

.text-body-tertiary {
  color: #e76f51 !important; 
}
