@use "colors";
@use "sass:color";

.main__categorias {
  & > span {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 300px;

    .categorias__card {
      position: relative;
      background-color: colors.$white;
      border: 3px colors.$light solid;
      padding: 3px;
      border-radius: 13px;
      width: 370px;
      cursor: pointer;
      img {
        position: relative;
        border-radius: 10px;
        width: 100%;
        aspect-ratio: 2/1;
        object-fit: cover;
        filter: grayscale(20%) brightness(50%);
        text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.51);

        ::before {
          content: "asda";
          position: absolute;
          top: 0;
          left: 5px;
          width: 100%;
          height: 100%;
          background-color: black;
        }
      }
      p {
        user-select: none;
        z-index: 1;
        color: colors.$white;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 2rem;
        padding: 2ch;
        text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.51);
      }
    }

    :hover {
      img {
        filter: brightness(60%);
      }
    }
  }
}

.main__recomendaciones {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: colors.$light;
  padding: 3rem 2rem;
  align-items: center;
  position: relative;

  h1 {
    color: colors.$primary;
    font-size: 2rem;
    font-weight: 1000;
    text-align: center;
  }

  .main__recomendaciones__grid {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    position: relative;
  }
}

.card__recomendaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid colors.$light;
  width: 100%;
  max-width: 600px;
  min-width: 200px;
  height: 100%;
  border-radius: 10px;
  background-color: colors.$white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

  a{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none
  }

  .card__image {
    width: 80%;
    height: 50%;
    border-radius: 5px 5px 5px 5px;
    object-fit: cover;
    
  }

  .card__content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding: 10px;
  }

  .card__title {
    font-size: clamp(18px, 3vh, 30px);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #e76f51;
  }

  .card__description {
    font-size: clamp(12px, 2vh, 20px);
    color: gray;
    margin: 5px 0 0;
    text-align: center;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    height: auto;
  }

  .card__price {
    font-size: clamp(15px, 2.5vh, 25px);
    color: #e76f51;
    margin: 5px 0 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    font-weight: bold;
  }

}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  button {
    padding: 10px;
    border: none;
    background-color: colors.$primary;
    color: white;
    cursor: pointer;
    border-radius: 5px;

    &:disabled {
      background-color: gray;
      cursor: not-allowed;
    }
  }
}

@media (max-width: 768px) {
  .main__recomendaciones__grid {
    grid-template-columns: 1fr;
  }
}

.main__buscar {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  background-color: colors.$light;

  .main__buscar__fields {
    display: flex;
    overflow: hidden;
    border-radius: 4px;

    & > * {
      border: none;
      outline: none;
      border-radius: 0;
    }

    .main__buscar__fields__texto,
    .main__buscar__fields__fecha,
    .main__buscar__fields__submit {
      padding: 1ch 1.5ch;
      color: colors.$black;
    }

    .main__buscar__fields__texto {
      font-weight: 600;
      &:-webkit-autofill {
        background-color: colors.$white !important;
        color: colors.$black !important;
        box-shadow: 0 0 0px 1000px white inset !important;
      }
    }
    .main__buscar__fields__fecha {
      font-weight: 600;
    }

    .main__buscar__fields__submit {
      font-weight: 600;
      background-color: colors.$primary;
      color: colors.$white;
    }
  }

  p {
    color: colors.$primary;
    font-weight: 1000;
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .main__recomendaciones {
    .main__recomendaciones__grid {
      grid-template-columns: 1fr;
      h3 {
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .main__categorias {
    & > span {
      flex-direction: column;
      gap: 1rem;
      height: auto;
    }
  }
}
