.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupar toda la pantalla */
  text-align: center;
  background: #f9f9f9; /* Fondo claro */
}

.error-image {
  width: 280px;
  max-width: 90%; /* Para que sea responsive */
  height: auto;
}

.error-text {
  font-size: 1.5rem;
  color: #333;
  margin-top: 10px;
}

.back-home {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: none;
}

.back-home:hover {
  background-color: #e68900;
}
