/* Estilo para las fechas pasadas */
.react-calendar__tile.fecha-pasada {
    background-color: #ffcc80; /* Fondo naranja */
    color: #bdbdbd; /* Texto gris */
    cursor: not-allowed; /* Cursor de "no permitido" */
  }
  
  /* Estilo para el rango seleccionado */
  .react-calendar__tile.rango-seleccionado {
    background-color: #e6f7ff; /* Fondo azul claro */
    color: #1890ff; /* Texto azul */
    font-weight: bold; /* Texto en negrita */
  }
  
  /* Estilo para la fecha de inicio y fin */
  .react-calendar__tile--active {
    background-color: #1890ff; /* Fondo azul */
    color: white; /* Texto blanco */
  }